@model IEnumerable<dominio.Pokemon>

@{
    ViewData["Title"] = "PokemonsLista2";
}
@{
    negocio.ElementoNegocio negocio = new negocio.ElementoNegocio();
    SelectList list = new SelectList(negocio.listar());
}
<!-- Agrega jQuery a tu Vista, si aún no lo has hecho -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Agrega el siguiente script para manejar el evento de cambio en el cuadro de texto -->
<script>
    $(document).ready(function () {
        $("#Buscar").on("input", function () {
            // Obtén el valor del cuadro de texto
            var searchText = $(this).val();

            // Verifica si la longitud del texto es mayor a 3 caracteres
            if (searchText.length > 3) {
                // Realiza una solicitud AJAX al backend para obtener resultados
                $.ajax({
                    url: '@Url.Action("VistaTablaPokemon", "Pokemon")', // Reemplaza 'Controlador' con tu controlador real
                    type: 'GET',
                    data: { Buscar: searchText },
                    success: function (data) {
                        //Manipula los datos recibidos, por ejemplo, actualiza una tabla con los resultados
                        $("#resultadosTabla").html(data);
                    },
                    error: function () {
                        console.log("Error en la solicitud AJAX");
                    }
                });
            }
        });
    });
</script>

<h2>Lista de Pokemons</h2>


<div class="container">

    @* Codigo para el filtro de Búsqueda *@


    <div class="row">
        <div class="col-3">
            <div class="mb-3">
                <label class="form-label">Campo</label>
                @Html.DropDownList("Id", list, "Descripcion", new { @class = "form-control"})
            </div>
        </div>
        <div class="col-3">
            <div class="mb-3">
                <label class="form-label">Criterio</label>
                @Html.DropDownList("Id", list, "Descripcion", new { @class = "form-control"})
            </div>
        </div>
        <div class="col-3">
            <div class="mb-3">
                <label class="form-label">Filtro</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-3">
            <div class="mb-3">
                <label class="form-label">Estado</label>
                @Html.DropDownList("Id", list, "Descripcion", new { @class = "form-control"})
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <button class="btn btn-primary">Buscar</button>
            <button class="btn btn-secondary">Reiniciar</button>
        </div>
    </div>

    @* <partial name="_TablaPokemonLista" model="Model" /> *@

    @await Html.PartialAsync("_TablaPokemonLista", Model)

    <div class="row">
        <div class="col-6">
            <form method="get" action=@Url.Action("PokemonsLista2","Pokemon")>
                <div class="mb-3">
                    @Html.TextBox("Buscar", null, new { placeholder = "texto de búsqueda", @class = "form-control"})
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>

    <div id="resultadosTabla"></div>


    <a asp-action="FormularioPokemon" class="btn btn-primary">Agregar</a>

</div> 
